.profileImageContainer {
    @apply w-[20%];
}

.profileImage {
    @apply rounded-md object-cover w-full h-full;
}

.profileName {
    @apply text-2xl font-bold text-primary;
}

.profileDescription {
    @apply text-sm text-muted-foreground mt-2 max-w-3xl;
}

.profileDescriptionDiv {
    @apply text-left
}

.summaryValue {
    @apply text-2xl font-bold mb-0
}

.summaryTitle {
    @apply text-sm text-gray-500 mb-0
}

.summaryDiv {
    @apply text-left flex flex-col gap-0
}