#python
/venv
*/venv
__pycache__/
*.pyc
*.pyo
*__pycache__/


#Docker
*.dockerignore
.dockerignore

# NPM
/node_modules
*node_modules

# Log files
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
*.env
**/.env
.env.*
env/

# Editor directories
*.vscode
*.idea