.dropBox {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: 2px dashed #000000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imageComp {
    width: 100%;
    height: 500px;
}

.prevImage {
    width: 100%;
    height: 'auto';
}

.uploadIcon {
    width: 10%;
    height: auto;
}

.dropFrame {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.browseLink {
    font-weight: bold;
    text-decoration: underline;
}