/* Toolbar */
.toolbar {
    height: 53px;
    background-color: #F8E0AC;
    border-radius: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Add this line */

    /* handle children */
    display: inline-flex; /* make all children line up in a row */
    align-items: center; /* Center the children buttons and overwrite felx from changing shape*/
    padding: 0 120px; /* add padding between buttons and the toolbar*/
    gap: 8px; /* padding between buttons*/
    justify-content: center; /* put buttons in center horizontally*/
}

.button {
    width: 37px;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.text-area {
    width: 100%;
    height: 100%;
    resize: none
}

.ProseMirror { 
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.EditTextComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}