{% extends 'base.html' %}

{% block content %}
    <h1>User Adder</h1>

    <br/><br/>
    <form method="POST" action="{% url 'join' %}">
      {% csrf_token %}
    <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputUname1" placeholder="username" name="username" value="{{username}}">
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email address" name="email" value="{{email}}">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="password" value="{{password}}">
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Add User</button>
</form>

{% endblock %}